= form_for :dump, :url=>{:action=>"import_csv", :type => params[:type]}, :html => { :multipart => true } do |f|

  %label{:for => "dump_file"}

    Select a CSV File :
  = f.file_field :file

  %br

  = submit_tag 'Submit'