<!--<div class="page-container">-->
  <div class="banner">
    <p class="banner-text">180 black people have been killed by police in 2015. That's one person every 29 hours.</p>
  </div>
    <div id='map'></div>
    <script>
        loadMap();
    </script>
    </a>
    <br>
  <div class="carousel-wrapper">
    <span id="left-carousel-link">&lt;</span>

    <div class="carousel-image-wrapper">
      <img class="carousel-image" src="carousel_1.png">
    </div>
    <span id="right-carousel-link">&gt;</span>
  </div>
<!--</div>-->