<div class="banner">
  <p class="banner-text">180 black people have been killed by police in 2015. That's one person every 29 hours.</p>
</div>
<div>
  <a id="map-link" href=<%= url_for :controller => 'home', :action => 'map' %>>
    <%= image_tag 'map.png', :class => 'large-map img-responsive' %>
  </a>
  <br>
</div>
<div class="carousel-wrapper">
  <span id="left-carousel-link">&lt;</span>

  <div class="carousel-image-wrapper">
    <img class="carousel-image" src="carousel_1.png">
  </div>
  <span id="right-carousel-link">&gt;</span>
</div>