// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_sidebar";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.dashboard_button {
  a {
    background-color: #EFEFEF;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #888888;
    color: #5E6469;
    font-size: large;
    line-height: 80px;
    margin: 0 10px;
    padding: 20px;
    text-decoration: none;
    white-space:nowrap;
  }
  :hover {
    background-color: #DADADA;
  }
}

.datepicker {
  &.download {
    margin-bottom: 15px;
  }

}

.download-checkbox {
  margin-right: 2px;
  vertical-align: 2px;
}

.download-label {
  font-size: 18px;
  line-height: 40px;
}

