a {
  color: white;
}

a:hover {
  color: #D2D2D2;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
}

body, html {
  height: 100%;
}

.banner {
  background-color: red;
  display: inline-block;
  width: 100%;
}

.banner-text {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.carousel-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.carousel-wrapper img {
  max-width: 100%;
  height:auto;
  max-height: 200px;
  margin: auto;
}

.carousel-image-wrapper {
  display: inline-block;
}

.icon-bar {
  background-color: white;
}

#left-carousel-link,
#right-carousel-link {
  cursor: pointer;
  font-size: 80px;
  font-weight: lighter;
}

.large-map {
  display: block;
  margin: 0 auto;
}

.map-pin-icon {
  border: 1px solid darkred;
  border-radius: 50%;
  background: red;
  height: 5px;
}

.navbar-header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

nav.navbar {
  margin: 0;
  width: 100%
}

.navbar-text {
  display: block;
}

.navbar-title {
  flex-grow: 1;
}

.menu-anchor {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .menu-anchor {
    width: 100%;
  }
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-links {
  float: right;
}

.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height:100%;
}

#map {
  flex-grow: 1;
  width: 100%;

}
